accelerate==1.11.0
bitsandbytes==0.48.1
datasets==4.3.0
evaluate==0.4.6
huggingface-hub==1.0.0rc6
matplotlib==3.10.6
networkx==3.5
numpy==2.3.3
pandas==2.3.3
peft==0.17.1
pillow==11.3.0
pyarrow==21.0.0
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
sentencepiece==0.2.1
tokenizers==0.22.1
torch==2.9.0
transformers @ git+https://github.com/huggingface/transformers.git@307c5238546ba1675daabc46050c63ffde25f8e6
tqdm==4.67.1
GPUtil